
.home-outer-block {
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    background-color: #c4f0fd;  
    padding: 0 20px;         
    box-sizing: border-box;   
  }
  
  .url-form {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    gap: 15px;               
    max-width: 100%;         
    width: 50%;            
    text-align: center;     
  }
  
  /* Input field styling */
  .url-input {
    width: 100%;            
    max-width: 100%;        
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ced4da; 
    border-radius: 15px;
  }
  

  